@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Login" asp-action="Login">
    <input name="Username" placeholder="Username" />
    <input name="Password" placeholder="Password" />
    <input type="submit" value="Login" />
</form>