@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Login" asp-action="Login" >
    <div class="text-black">
        <input name="Username" placeholder="Username" />
        <input name="Password" placeholder="Password" />
    </div>
    <input type="submit" value="Login" />
</form>