@{
    ViewData["Title"] = "About Us!!";
}

<div class="container mx-auto px-4 py-8">
    <div class="row flex flex-col">
        <div class="col-md-12 mb-10 tomorrow-semibold">
            <h1 class="text-4xl font-bold mb-6">@ViewData["Title"]</h1>
            <div class=" text-gray-400 tomorrow-semibold text-center bg-black border border-gray-500 p-8 rounded w-fit mx-auto shadow-xl">
                <p class="mb-5"> Welcome to TaxFrauders, your trusted partner in connecting talented individuals with rewarding job opportunities. Our mission is to bridge the gap between job seekers and employers by offering a dynamic platform where people from all backgrounds can explore and apply for a wide range of job positions. </p>

                <p class="mb-5">At TaxFrauders, we believe that everyone deserves the chance to pursue their career goals, regardless of their previous experience or education level. That's why we offer a diverse array of job opportunities, including fixed-term employment contracts and full-time positions, to suit your individual preferences and career aspirations.</p>

                <p class="mb-5"> We understand that starting a new job can be daunting, especially if experience is required. That's why we ensure that the companies you work with will provide comprehensive training, guiding you every step of the way as you learn and grow in your new role. Our partners are committed to investing in your development, equipping you with the skills and knowledge you need to succeed.</p>

                <p>Whether you are just starting your career or looking to advance in your field, TaxFrauders is here to help you find the perfect match. Join us today and embark on a fulfilling journey towards achieving your professional goals. Let TaxFrauders connect you with the right opportunities and the right people to make your career aspirations a reality.</p>
            </div>
        </div>
    </div>
</div>