@{
	ViewData["Title"] = "Home Page";
}
<div class="text-center uppercase">
	<div class="mb-10 tomorrow-semibold">
		<h1 class="text-4xl animate-fade-down animate-once animate-ease-in-out">Work is not waiting</h1>
		<h1 class="text-4xl animate-fade-up animate-once animate-ease-in-out animate-delay-200">Join the frauders!</h1>
	</div>
	<div class="text-gray-500 tomorrow-semibold text-center bg-black border border-gray-500 p-8 rounded w-fit mx-auto shadow-xl">
		<p class="relative w-[max-content] before:absolute before:inset-0 before:bg-black before:animate-typewriter text-white text-center ">Tax corporates hates us</p>
		<p class="relative w-[max-content] before:absolute before:inset-0 before:bg-black before:animate-typewriter1 text-white text-center ">Find some work trough all year, from cutting a grass to being </p>
		<p class="relative w-[max-content] before:absolute before:inset-0 before:bg-black before:animate-typewriter2 text-white text-center ">a ski assistant!</p>
	</div>
	<div id="writer" class="tomorrow-semibold text-gray-500"></div>
</div>



<div id="parent" class="flex flex-row justify-center gap-4 my-24 ">
	<div class="flex flex-col max-w-[300px]">

		<img src="img/Legrass.webp" class="rounded-lg h-[200px]" />
		<span class="text-center">
			Find work for your own liking!
			Even your neighbor might have some!
		</span>
	</div>
	<div class="flex flex-col max-w-[300px]">

		<img src="img/bittiavaruus.jpg" class="rounded-lg h-[200px]" />
		<span class="text-center">
			Are you a corporate scum? Give people some work to do!
		</span>
	</div>
	<div class="flex flex-col max-w-[300px]">

		<img src="img/business.jpg" class="rounded-lg h-[200px]" />
		<span class="text-center">
			Open jobs!
		</span>
	</div>
</div>



<div class="flex flex-row justify-center items-center gap-16">
	<div class="flex flex-col">
		<h1 class="text-xl">Join our newsletter</h1>
		<span class="text-gray-600">
			Get all the latest news delivered to
			your inbox.
		</span>
	</div>
	<div>
		<input placeholder="John.Doe@example.com" class="p-2 rounded-lg min-w-[400px]" />
		<button class="p-2 rounded-lg bg-blue-500 bold">Sign up</button>
	</div>
</div>
